<div class="home__container">
	<app-card
		gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202306/1219/60eca3ac155247e21850c7d075d01ebf0f3f5dbf19ccd2a1.jpg"
		gameLabel="NOVIDADES"
		gameType="PS5"
		gamePrice="R$ 349,90"
	>
	</app-card>
	<app-card
		gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202208/0921/Ah7Ar9MU0r1BBlzAUflmhyQP.png"
		gameLabel="EXCLUSIVOS"
		gameType="PS4 | PS5"
		gamePrice="R$ 209,93"
		>
	</app-card>
	
	<app-card
		gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202308/2120/5c2e0fc3320bae8fe1f6d9567dac3f0f585bf53cd9bac639.jpg"
		gameLabel="FREE TO PLAY"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 0,00"
	>
	</app-card>
	
</div>
