<div class="menu-bar__container">
	<div class="menu-bar__logo">
		<img
			src="https://github.com/ApoenaAvelar/angular-psn-store-clone/blob/main/src/assets/ps-logo.png?raw=true"
			alt="playstation logo"
			srcset=""
			width="140px"
			height="32px"
		>
	</div>
	<div class="menu-bar__item">
		<ul>
			<li><a href="https://www.instagram.com/dhymedeiros/" target="_blank">INSTAGRAM</a></li>
			<li><a href="https://www.linkedin.com/in/yngrid-c-a19a04264/" target="_blank">LINKEDIN</a></li>
			<li><a href="https://github.com/yngridc" target="_blank">GITHUB</a></li>
		</ul>
	</div>
</div>
